FTL_Wrap(PolymorphicDecorator(DerivedType('AbstractHandler','ASTG_AbstractHandler_mod')))
FTL_Vector(FTL_Wrap(PolymorphicDecorator(DerivedType('AbstractHandler','ASTG_AbstractHandler_mod'))))

FTL_UnorderedMap(CIString,PolymorphicDecorator(DerivedType('AbstractLogger','ASTG_AbstractLogger_mod')),altK=DeferredLengthString)

FTL_Wrap(PolymorphicDecorator(DerivedType('Filter','ASTG_Filter_mod')))
FTL_Vector(FTL_Wrap(PolymorphicDecorator(DerivedType('Filter', 'ASTG_Filter_mod'))))

FTL_Wrap(UnlimitedPolymorphicEntity)
FTL_Vector(FTL_Wrap(UnlimitedPolymorphicEntity))

