FTL_Wrap(PolymorphicDecorator(DerivedType('AbstractHandler','ASTG_AbstractHandler_mod')))
FTL_Vector(FTL_Wrap(PolymorphicDecorator(DerivedType('AbstractHandler','ASTG_AbstractHandler_mod'))))

FTL_UnorderedMap(CIString,DerivedType('Logger','ASTG_Logger_mod'),altK=DeferredLengthString)

FTL_Wrap(PolymorphicDecorator(DerivedType('Filter','ASTG_Filter_mod')))
FTL_Vector(FTL_Wrap(PolymorphicDecorator(DerivedType('Filter', 'ASTG_Filter_mod'))))

